@font-face { 
    font-family: 'MyFont'; 
    src: url('../img/fonts/oldfont.otf') format('opentype'); 
    font-weight: normal; 
    font-style: normal; 
} 
@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

html {
    height: 100%; 
    overflow-y: scroll; 
}
body {
    font-family: 'MyFont', sans-serif;
    color: #f7f7f7;
    background-color: #b6cade;
    margin: 0;
    padding: 0;
    line-height: 1.8;
    overflow-y: auto; 
}
.homepage {
    background-color: #b6cade; 
    color: #f7f7f7;  
}
.projectpage {
    background-color: #b6cade; 
    color: #f7f7f7;  
}
.aboutpage {
    background-color: #b6cade; 
    color: #f7f7f7;  
}
h1 {
    padding-left: 20px;
}
button {
    background-color: transparent;
    color: #f7f7f7;
    border: 3px solid #f7f7f7;
    padding: 5px 10px;
    margin: 10px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
}
button:hover {
    background-color: #cbdbea;
    color: #fcfcfc;
}
.blinking-underscore {
    animation: blink 1s step-end infinite;
}

/* 3d model container */
#container3D {
    margin: 0;
    margin-top: -40px;
    padding: 0;
    height: 800px; 
    display: block;
    overflow: hidden;
}
/* slide up transition */
.content {
    transition: transform 0.2s ease;
    position: relative;
    min-height: 100vh;
    background-color: #b6cade;
}
.slide-up {
    transform: translateY(-100vh); /* Slide up the entire viewport height */
}

/* App cards */
.app-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Adjust based on how many columns you want */
    gap: 10px;
    padding: 20px;
}

/* Individual app cards styling */
.app-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #F5F5F5; 
}

.app-card img {
    width: 70px; 
    height: 70px;
    margin-bottom: 8px;
    transition: transform 0.3s ease-in-out;
}

.app-card img.enlarge {
    transform: scale(2);
    z-index: 10;
    transition: transform 0.3s ease-in-out;
}

.app-card span {
    font-size: 14px;
    text-align: center;
    user-select: text;
}

.app-card:hover {
    transform: scale(1.1); 
    transition: transform 0.3s;
}